.wp-admin-ui-wrap .about,
.wp-admin-ui-wrap .about * {
	font-size: 12px;
}

.wp-admin-ui-wrap .about th {
	font-weight: bold;
}

.wp-admin-ui-wrap ul {
	list-style-type: circle;
	margin-left:     14px;
	margin-top:      5px;
}

.wp-admin-ui-wrap ul li {
	list-style-type: circle;
}

.wp-admin-ui-wrap dl dt {
	font-weight:   bold;
	margin-bottom: 8px;
	margin-top:    12px;
}

.wp-admin-ui-wrap dl dd {
	margin-left: 14px;
	margin-top:  5px;
}
